*.o
*.elf
*.mex
*.iso
*.saf
*.syms
*.flbb
res
mckrnl/target
.fire
dump.dat
dump.pcap
Cargo.lock
compile_flags.txt
libs.zip
test_out

user/fasm/fasm

a.out

config/*.user

limine-hdd.h

microos.jpg

initrd/*.wav